.panel-title h1, .panel-title h2, .results h2 {
  text-align: center;
}

.results, .result-box {
  display: none;
}

.result-box img {
  border-radius: 2px;
  box-shadow: 2px 2px 10px;
  display: block;
  margin: 0 auto;
  width: 75%;
}

.results h2 {
  margin-bottom: 40px;
}

figcaption {
  padding: 5px;
  text-align: center;
}

.character-name {
  font-weight: bold;
}

.try-again-box {
  text-align: center;
}

.btn:focus {
  outline: none;
}
